# Ignore virtual environment folders
YouTubeChatBot/Lib/
YouTubeChatBot/Scripts/
YouTubeChatBot/include/
YouTubeChatBot/pyvenv.cfg
YouTubeChatBot/share/
YouTubeChatBot/etc/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/

# Logs and temp files
*.log
*.tmp